---
import { certificates } from '@cv'
---

<hr class='my-8 border-neutral-900' />
<section>
  <h2>Certificates</h2>

  <ul class='grid gap-4'>
    {
      certificates.map(certificate => (
        <li class='border rounded-lg p-5 dark:border-neutral-900 hover:border-neutral-500 transition-all h-full'>
          <article>
            <header class='text-balance'>{certificate.name}</header>
            <hr class='my-2 border-neutral-900' />
            <p>{certificate.issuer}</p>
            <p>{certificate.date}</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
