---
import { certificates } from '@cv'
---

<hr class='my-8 opacity-10' />
<section>
  <h2>Certificados</h2>

  <ul class='grid gap-4'>
    {
      certificates.map(certificate => (
        <li class='border dark:border-slate-600 rounded-lg p-5 items-center grid'>
          <article>
            <header class='text-balance'>{certificate.name}</header>
            <hr class='my-2' />
            <p>{certificate.issuer}</p>
            <p>{certificate.date}</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
