---
import { languages } from '@cv'
---

<hr class='my-8 opacity-10' />
<section>
  <h2>Lenguajes</h2>
  <ul class='flex gap-2 flex-wrap'>
    {
      languages.map(language => (
        <li class='bg-slate-600 px-2 py-1 rounded dark:bg-slate-800'>
          <div>
            <p class='text-white'>
              {language.language} {language.fluency}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
