---
import { languages } from '@cv'
---

<hr class='my-8 border-neutral-600' />
<section>
  <h2>Languajes</h2>
  <ul class='flex gap-2 flex-wrap'>
    {
      languages.map(language => (
        <li class='bg-neutral-600  px-2 py-1 rounded'>
          <div>
            <p class="text-neutral-300">
              {language.language} {language.fluency}
            </p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
