---
import { projects } from '@cv'
---

<section>
  <h2>Projects</h2>
  <ul>
    {
      projects.map(project => (
        <li>
          <article>
            <a
              href={project.url}
              target='_blank'
            >
              <header>{project.name}</header>
            </a>
            <p>{project.description}</p>
          </article>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  article {
    height: 100%;
    padding: 1rem;
    border: 1px solid #cfcfcf;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
</style>
