---
import { projects } from '@cv'
---

<hr class='my-8 opacity-10' />
<section>
  <h2>Proyectos</h2>
  <ul class='grid gap-4'>
    {
      projects.map(project => (
        <a
          href={project.url}
          target='_blank'
        >
          <li class='border rounded-lg p-4 dark:border-slate-600 hover:border-slate-400 transition-all h-full'>
            <article class='relative'>
              <div class='flex justify-between items-start'>
                <header class='text-balance'>{project.name}</header>
                {project.active && <span class='text-green-500'>●</span>}
                {!project.active && <span class='text-red-500'>●</span>}
              </div>
              <hr class='my-2' />
              <p>{project.description}</p>
            </article>
          </li>
        </a>
      ))
    }
  </ul>
</section>

<style>
  ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>
