---
import { skills } from '@cv'
---

<section>
  <h2>Skills</h2>
  <ul>
    {
      skills.map(skill => (
        <li>
          <div>
            <p>{skill.name}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>

<style>
  ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  ul div {
    background: #525151;
    padding: 0.3rem 0.7rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
  }

  div p {
    color: white;
  }
</style>
