---
import { skills } from '@cv'
---

<hr class='my-8 opacity-10' />
<section>
  <h2>Habilidades</h2>
  <ul class='flex gap-2 flex-wrap'>
    {
      skills.map(skill => (
        <li class='bg-slate-600 px-2 py-1 rounded dark:bg-slate-800'>
          <div>
            <p class='text-white'>{skill.name}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section>
