---
interface Props {
  title: string
}

const { title } = Astro.props

import '@fontsource-variable/roboto-mono'
import '@fontsource-variable/inter'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  /* CSS RESET */
  html {
    box-sizing: border-box;
    font-family: 'Roboto Mono Variable', sans-serif;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;
    letter-spacing: -0.025rem;
  }

  h1,
  h2,
  h3,
  h4,
  header {
    font-weight: bold;
    font-family: 'Inter Variable', sans-serif;
    color: #030712;
  }
  ol,
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  /* CSS RESET */

  body {
    padding: 4rem;
  }
  p,
  small {
    text-wrap: pretty;
    font-size: 12px;
    color: #6b7280;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 2rem;
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
</style>
