---
interface Props {
  title: string
}

const { title } = Astro.props

import '@fontsource-variable/roboto-mono'
import '@fontsource-variable/inter'
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    font-family: 'Roboto Mono Variable', sans-serif;
    color-scheme: light dark;
  }

  body {
    padding: 3rem;
    color: light-dark(blue, black);
    background-color: light-dark(#efedea, #223a2c);
  }
  p,
  small {
    text-wrap: pretty;
    font-size: 12px;
    color: #6b7280;
  }
  h2 {
    font-family: 'Inter Variable', sans-serif;
    font-weight: bold;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    /* margin-top: 2rem; */
  }
</style>
